/*
SÉLECTEURS
div { ... } définit un style pour tout élément div
div span { ... } définit un style pour tout élément span qui a un ancêtre div
#some-id { ... } définit un style pour tout élément avec l'id "some-id"
.some-class { ... } définit un style pour tout élément avec la classe "some-class"
.foo.bar { ... } définit un style pour tout élément avec les classes "foo" ET "bar"
div > span { ... } définit un style pour tout élément span enfant direct d'une div
:hover { ... } définit un style pour le survol
PROPRIÉTÉS
display : none | block | inline | ...;
position: relative | absolute | static | ...;
top: [nombre][unité] (5px, 2em, etc.);
left: [nombre][unité] (5px, 2em, etc.);
bottom: [nombre][unité] (5px, 2em, etc.);
right: [nombre][unité] (5px, 2em, etc.);
color: #[red][blue][green] (#A5089A);
background-color: #[red][blue][green] (#A5089A);
cursor: pointer | auto | none | text | ...;
 */
ul {
    list-style: none;
    padding: 0 20px;
}
main {
    display: flex;
    flex-direction: row;
}
main > nav {
    width: 20%;
}
main > section {
    width: 80%;
}
ul ul {
    display: none;
}
li:hover ul.niveau2,
li li:hover ul.niveau3 {
    display: block;
}
thead {
    background-color: aquamarine;
}
table {
    border: 5px solid red;
    border-collapse: collapse;
}
th, td {
    border-left: 5px solid red;
}
td {
    padding: 5px 10px;
}
tr:nth-of-type(1) td:nth-of-type(1) {
    font-weight: bold;
}
td p.error {
    font-style: italic;
    color: hotpink;
}
p.error {
    color: blueviolet;
}